<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/Home" routerLinkActive="active">Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Products" routerLinkActive="active">Products </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Users" routerLinkActive="active">Users </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Notes" routerLinkActive="active">Notes </a>
  </li>
 
 
</ul>
