
 <div  class="container py-5">
    <form [formGroup]="LoginForm" novalidate (ngSubmit)="onSubmit()" >
 
        
        <div class="form-group">
            <label>Email</label>
            <input type="email" [class.is-invalid]="LoginForm.get('email')?.touched && LoginForm.get('email')?.invalid" class="form-control" formControlName="email" >
            <small class="text-danger" *ngIf="LoginForm.get('email')?.touched && LoginForm.get('email')?.invalid">Email is required</small>
        </div>
    
        <div class="form-group py-2">
            <label>Password</label>
            <input type="password" [class.is-invalid]="LoginForm.get('password')?.touched && LoginForm.get('password')?.invalid"formControlName="password" class="form-control"> 
            <small class="text-danger" *ngIf="LoginForm.get('password')?.touched && LoginForm.get('password')?.invalid">password is required</small>

        </div>
    
         
        <br><br>
        <button type="submit" class="btn btn-primary" [disabled]="!LoginForm.valid"
        [ngClass]="{'btn-danger': !LoginForm.valid, 'btn-success': LoginForm.valid}">
        Login
    </button>
    </form>
  </div>