 
<div class="container py-5">
    <form [formGroup]="registerationForm" novalidate (ngSubmit)="onSubmit()">

        <div class="form-group py-2">
            <label>User Name :</label>
            <input [class.is-invalid]="userName?.invalid && userName?.touched" type="text" formControlName="userName"
                class="form-control">
            <div *ngIf="userName?.invalid && userName?.touched">
                <small class="text-danger" *ngIf="userName?.errors?.['required']">User Name is Required</small>
                <small class="text-danger" *ngIf="userName?.errors?.['minlength']">Min Length must be 5</small>
                <small class="text-danger" *ngIf="userName?.errors?.['forbiddenName']">admin is not allowed</small>
            </div>
        </div>

        <div class="form-group py-2">
            <label>Email</label>
            <input type="text"
                [class.is-invalid]="registerationForm.get('email')?.touched && registerationForm.get('email')?.invalid"
                class="form-control" formControlName="email">
            <div *ngIf="email?.invalid && email?.touched">
                <small class="text-danger"
                    *ngIf="registerationForm.get('email')?.touched && registerationForm.get('email')?.invalid">Email is
                    required</small>
                <small class="text-danger" *ngIf="email?.errors?.['pattern']">pattern is not allowed</small>
            </div>

        </div>

        <div class="form-group py-2">
            <label>Password</label>
            <input type="password"
                [class.is-invalid]="registerationForm.get('password')?.touched && registerationForm.get('password')?.invalid"
                formControlName="password" class="form-control">
            <div *ngIf="registerationForm.get('password')?.invalid && registerationForm.get('password')?.touched">
                <small class="text-danger"
                    *ngIf="registerationForm.get('password')?.touched && registerationForm.get('password')?.invalid">password
                    is required</small>
            </div>
        </div>

        <div class="form-group py-2">
            <label>Confirm Password</label>
            <input
                [class.is-invalid]="registerationForm.errors?.['misMatch'] || registerationForm.get('confirmPassword')?.touched && registerationForm.get('confirmPassword')?.invalid"
                type="password" formControlName="confirmPassword" class="form-control">
            <small class="text-danger" *ngIf="registerationForm.errors?.['misMatch']">Password and confirm password must
                be match</small>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary" [disabled]="!registerationForm.valid"
            [ngClass]="{'btn-danger': !registerationForm.valid, 'btn-success': registerationForm.valid}">
            Register
        </button>
    </form>
</div>